<html ng-app="singleSelectListAppModule">
<head lang="en">
    <link href="../../includes/bootstrap/css/bootstrap.css" rel="stylesheet">

    <script src="../../includes/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../includes/angular/angular.min.js"></script>
    <script src="../../includes/kendoUI/js/kendo.all.min.js"></script>
    <script src="../../includes/angular/angular-kendo.js"></script>
    <script src="../../includes/angular/angular-sanitize.min.js"></script>
    <script src="../../includes/angular/angular-animate.min.js"></script>


    <script src="singleSelectListApp.js"></script>
    <script src="/directivesProject/directives/l8k.UIDirective.js"></script>
    <script src="/directivesProject/services/jsonService.js"></script>

    <title></title>
</head>
<body ng-controller="singleSelectListApController">

<div ng-show="isConfirmShow">
    <input type="text" ng-model="nameText" placeholder="Please Enter Name....">
    <button type="button" ng-click="doConfirm(nameText)" ng-model="confirmModel">{{confirmModel}}</button>
</div>


<div style="width: 25%;margin: auto">
    <single-select-list datasource="datasource"
                        do-add="doAdd"
                        list-orderby="listOrderby"
                        new-item="newItem"
                        is-lock="isLock"
                        >
        <item-template>
            <div>
                {{item.name}}
            </div>
        </item-template>
    </single-select-list>
</div>
</body>
</html>