.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none
}
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
    background: #4f81bd;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    vertical-align:middle;
    text-align: center;
}
.col-xs-top{
    height: 2em;
}